<div class="container">
    <div class="jumbotron">
        <h1>Wax Guide</h1>
    </div>

    <form class="Search" role="search">


        <%= form_tag(search_path, :method => "GET") do %>
              <%= text_field_tag :search, params[:search], placeholder: "Location Search", class: "form-control text-center" %>
              <%= submit_tag "Search", class:"btn btn-default" %>
        <% end %>

        </form>

</div>

       
