<div class="container">
    <div class="jumbotron">
        <h1>Wax Guide</h1>
    </div>


    <%= form_tag :search, method: :get, class: "form-inline" do %>
        <div class="form-group search-field">
          <%= text_field_tag :q, "Location Search", class: "form-control" %>
          <%= submit_tag "Locate", class: "btn btn-primary" %>
        </div>
    <% end %>
</div>

       
