---
http_interactions:
- request:
    method: get
    uri: http://dataservice.accuweather.com/forecasts/v1/hourly/1hour/332154?apikey=jDpKdDSRYBtPsaRttaYwGHjd34KtOgxx
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer jDpKdDSRYBtPsaRttaYwGHjd34KtOgxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Authorization:
      - Bearer jDpKdDSRYBtPsaRttaYwGHjd34KtOgxx
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '50'
      Ratelimit-Remaining:
      - '13'
    body:
      encoding: UTF-8
      string: '[{"DateTime":"2019-02-16T00:00:00-07:00","EpochDateTime":1550300400,"WeatherIcon":34,"IconPhrase":"Mostly
        clear","IsDaylight":false,"Temperature":{"Value":27.0,"Unit":"F","UnitType":18},"PrecipitationProbability":11,"MobileLink":"http://m.accuweather.com/en/us/aspen-co/81611/hourly-weather-forecast/332154?day=2&lang=en-us","Link":"http://www.accuweather.com/en/us/aspen-co/81611/hourly-weather-forecast/332154?day=2&hbhhour=0&lang=en-us"}]'
  recorded_at: Sat, 16 Feb 2019 06:46:42 GMT
recorded_with: VCR 4.0.0
