---
http_interactions:
- request:
    method: get
    uri: http://dataservice.accuweather.com/forecasts/v1/daily/1day/332154?apikey=jDpKdDSRYBtPsaRttaYwGHjd34KtOgxx
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer jDpKdDSRYBtPsaRttaYwGHjd34KtOgxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Authorization:
      - Bearer jDpKdDSRYBtPsaRttaYwGHjd34KtOgxx
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '50'
      Ratelimit-Remaining:
      - '14'
    body:
      encoding: UTF-8
      string: '{"Headline":{"EffectiveDate":"2019-02-16T01:00:00-07:00","EffectiveEpochDate":1550304000,"Severity":3,"Text":"Snowfall
        from late Friday night into this afternoon will total 3-6 inches","Category":"snow","EndDate":"2019-02-16T19:00:00-07:00","EndEpochDate":1550368800,"MobileLink":"http://m.accuweather.com/en/us/aspen-co/81611/extended-weather-forecast/332154?lang=en-us","Link":"http://www.accuweather.com/en/us/aspen-co/81611/daily-weather-forecast/332154?lang=en-us"},"DailyForecasts":[{"Date":"2019-02-15T07:00:00-07:00","EpochDate":1550239200,"Temperature":{"Minimum":{"Value":22.0,"Unit":"F","UnitType":18},"Maximum":{"Value":46.0,"Unit":"F","UnitType":18}},"Day":{"Icon":21,"IconPhrase":"Partly
        sunny w/ flurries"},"Night":{"Icon":22,"IconPhrase":"Snow"},"Sources":["AccuWeather"],"MobileLink":"http://m.accuweather.com/en/us/aspen-co/81611/daily-weather-forecast/332154?day=1&lang=en-us","Link":"http://www.accuweather.com/en/us/aspen-co/81611/daily-weather-forecast/332154?day=1&lang=en-us"}]}'
  recorded_at: Sat, 16 Feb 2019 06:36:58 GMT
recorded_with: VCR 4.0.0
