---
http_interactions:
- request:
    method: get
    uri: http://dataservice.accuweather.com/locations/v1/postalcodes/search?apikey=jDpKdDSRYBtPsaRttaYwGHjd34KtOgxx&q=81611
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer jDpKdDSRYBtPsaRttaYwGHjd34KtOgxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Authorization:
      - Bearer jDpKdDSRYBtPsaRttaYwGHjd34KtOgxx
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '50'
      Ratelimit-Remaining:
      - '5'
    body:
      encoding: UTF-8
      string: '[{"Version":1,"Key":"35620_PC","Type":"PostalCode","Rank":75,"LocalizedName":"Aspen","EnglishName":"Aspen","PrimaryPostalCode":"81611","Region":{"ID":"NAM","LocalizedName":"North
        America","EnglishName":"North America"},"Country":{"ID":"US","LocalizedName":"United
        States","EnglishName":"United States"},"AdministrativeArea":{"ID":"CO","LocalizedName":"Colorado","EnglishName":"Colorado","Level":1,"LocalizedType":"State","EnglishType":"State","CountryID":"US"},"TimeZone":{"Code":"MST","Name":"America/Denver","GmtOffset":-7.0,"IsDaylightSaving":false,"NextOffsetChange":"2019-03-10T09:00:00Z"},"GeoPosition":{"Latitude":39.172,"Longitude":-106.725,"Elevation":{"Metric":{"Value":3308.0,"Unit":"m","UnitType":5},"Imperial":{"Value":10852.0,"Unit":"ft","UnitType":0}}},"IsAlias":false,"ParentCity":{"Key":"332154","LocalizedName":"Aspen","EnglishName":"Aspen"},"SupplementalAdminAreas":[{"Level":2,"LocalizedName":"Pitkin","EnglishName":"Pitkin"}],"DataSets":["Alerts","DailyAirQualityForecast","DailyPollenForecast","ForecastConfidence","MinuteCast"]}]'
  recorded_at: Sat, 16 Feb 2019 07:15:25 GMT
recorded_with: VCR 4.0.0
