---
http_interactions:
- request:
    method: get
    uri: http://dataservice.accuweather.com/currentconditions/v1/332154?apikey=jDpKdDSRYBtPsaRttaYwGHjd34KtOgxx
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer jDpKdDSRYBtPsaRttaYwGHjd34KtOgxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Authorization:
      - Bearer jDpKdDSRYBtPsaRttaYwGHjd34KtOgxx
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '50'
      Ratelimit-Remaining:
      - '5'
    body:
      encoding: ASCII-8BIT
      string: '[{"LocalObservationDateTime":"2019-02-16T00:11:00-07:00","EpochTime":1550301060,"WeatherText":"Clear","WeatherIcon":33,"HasPrecipitation":false,"PrecipitationType":null,"IsDayTime":false,"Temperature":{"Metric":{"Value":-2.8,"Unit":"C","UnitType":17},"Imperial":{"Value":27.0,"Unit":"F","UnitType":18}},"MobileLink":"http://m.accuweather.com/en/us/aspen-co/81611/current-weather/332154?lang=en-us","Link":"http://www.accuweather.com/en/us/aspen-co/81611/current-weather/332154?lang=en-us"}]'
  recorded_at: Sat, 16 Feb 2019 07:15:24 GMT
recorded_with: VCR 4.0.0
