<div class="jumbotron container text-center">
  <h1 class="display-4">Location Search</h1>
  <hr class="my-4">
    <div class="container text-center">
      <ul class="location-list">
          <h4>Sorry! An error has occured. Please search again!</h4>
          <br>
          <%= link_to 'Home', '/', class: "btn btn-success"%>
      </ul>
    </div>
    <hr class="my-4">
</div>