<div class="jumbotron container text-center">
    <div class="container text-center">
      <h4>Sorry! An error has occured. Please search again!</h4>
      <br>
      <%= link_to 'Home', '/', class: "btn btn-success"%>
    </div>
    <hr class="my-4">
</div>