<div class="jumbotron container text-center">
    <h1 class="display-4">Wax Guide</h1>
    <p class="lead">Choosing the right wax is hard, so let me help you out </p>
    <hr class="my-4">
    <p>Where are you skiing? Find your location</p>
    <div class="container text-center">
        <%= form_tag zipcode_path, :method => 'POST' do %>
        <div class="form-group">
            <%= text_field_tag 'zipcode', nil, placeholder: "Search Zipcode", class: "form-group" %>
            <%= submit_tag "Search", class: "btn btn-outline-success" %>
        <% end %>
    </div>
</div>

