<div class="card">
  <div class="card-block">
    <div class="row">
      <div class="col-md-8">
        <div class="container">
          <h1><%= @user.name %>'s Skis</h1>
          <%= @skis.inspect %>
          <%= link_to 'Dashboard', dashboard_path %>
        </div>
      </div>
    </div>
  </div>
</div>