<div class="container jumbotron text-center">
    <h1>Wax Tips</h1>
    <br>
    <h3>RULES OF THUMB</h3>
    <ul>
        <li>When in doubt about which temperature of wax to use, go colder than the conditions call for.</li>
        <li>Cold wax on warm snow is okay, warm wax on cold snow is a disaster.</li>
        <li>Always work from the tip of the ski to tail of the ski.</li>
        <li>A digital waxing iron allows you to maintain a consistent and very accurate temperature. Putting wax on at the recommended temperature allows you to have greater control of how much wax you are putting on. This is a cost-saving tip when using High Fluoro waxes.</li>
        <li>Fluorocarbons will quickly sublimate, go from a solid to a gas, within a range of a few degrees, do not get them too hot.</li>
        <li>Always put on thin layers of wax, thick layers will gum up your corks and brushes.</li>
        <li>New snow is sharp and pointy, causing more drag on your base. Fight this by using a wax from a temp range one colder than the current temp.</li>
        <li>New snow is a factor for just 2-3 days. After that the flakes will lose their sharpness and you can wax at temperature again. Until then wax colder.</li>
        <li>Paraffin Wax is used fight dry friction, Fluorocarbons overcome wet friction.</li>
        <li>Always let your base cool to room temperature before scraping them, about 30 minutes.</li>
        <li>Store your skis in the off season in a cool dark room, keep your bases out of direct sunlight.</li>
        <li>Keep your wax collection in a cool dark spot when not in use.</li>
        <li>If your base looks chalky and white, it is thirsty and needs wax!</li>
        <li>When determining a wax for an alpine race look at the whole race course. Look for any flat sections that you may need to carry speed through. Will the course be in direct sunlight all morning or in the shadows?</li>
        <li>Use Google Maps to analyze your race course. Use NOAA or this app to predict the weather conditions.</li>
        <li>Structuring your skis can really improve your speed in wet conditions.</li>
        <li>Clean your base groove and edges while the wax is still warm.</li>
        <li>All ways keep a warm waxing iron sanding up while not in use. This allows the heat from the sole to escape without cooking the electronics in the handle.</li>
        <li>Always use eye protection and a respirator in a room with good ventilation when applying wax with Fluorocarbons in it.</li>
        <li>Keep wax in the packaging, or use a sharpie to document what type of wax it is.</li>
        <li>Avoid cross-contamination, buy a set of corks and brushes just for applying waxes with Fluorocarbons and use a sharpie to remind yourself these are your Fluoro tools.</li>
    </ul>

</div>